node_modules/
.expo/
dist/
.tmp-rn/

# Native
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/.cxx/
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Misc
.DS_Store
*.log
.env
.env.local
